Multi-Agent AI System.json
{
  "name": "Multi-Agent AI System",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -800,
        512
      ],
      "id": "9b9c4856-8a99-43e6-952e-89a965c6cb35",
      "name": "When chat message received",
      "webhookId": "c5609dac-1747-4506-a9cd-467bd49b4632"
    },
    {
      "parameters": {
        "promptType": "=define",
        "text": "=",
        "options": {
          "systemMessage": "You are a helpful “You are a content gatekeeper. Your job is to review a message and determine whether it \nis safe or unsafe.  \nInstructions: \n1. If the message contains any harmful, offensive, illegal, or inappropriate content, \nclassify it as UNSAFE. \n2. If the message is free of harmful or inappropriate content, classify it as SAFE. \n3. Only respond with one word: SAFE or UNSAFE. Do not add explanations.”assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -576,
        496
      ],
      "id": "2b6183f9-2ca1-4e3c-a407-b11ceaef6926",
      "name": "Gatekeeper Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -576,
        736
      ],
      "id": "8fca3a23-1860-4780-8430-f8208ac0cb36",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "AlFvLRwHpoCNKnUR",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -448,
        736
      ],
      "id": "838e3005-0fa8-46f6-bdb8-4ace01b5876c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3a157bad-321c-44e2-a515-910331df0e8a",
              "leftValue": "={{ $json.output }}",
              "rightValue": "SAFE",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -224,
        512
      ],
      "id": "d026f088-fecf-42de-8003-1fcd45f125a6",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3ea86b74-f1e4-4c42-b245-7d41a3b325a4",
              "name": "responseText",
              "value": "You have asked an unsafe query. ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        656
      ],
      "id": "3dcc6956-9367-4010-988b-4902bc08b868",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Input: {{ $('When chat message received').item.json.chatInput }} \nCategory: {\"Google Calendar Agent\", \"Forex Agent\", \"Weather Agent\", \"Secretary \nAgent\"} \nCheck the input based on the query and choose one option. \nAny Input that is not related to “Google Calendar Agent\", \"Forex Agent\", \"Weather \nAgent\" treat that input  as \"Secretary Agent\"",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        0,
        256
      ],
      "id": "33722518-73ae-4ae8-828f-0738cc1792b5",
      "name": "Manager Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        16,
        480
      ],
      "id": "534412d8-4ad4-482c-8a3d-a5dca3315347",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "AlFvLRwHpoCNKnUR",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"assigned_agents\": [\n    \"Google Calendar Agent\",\n    \"Forex Agent\",\n    \"Weather Agent\",\n    \"Secretary Agent\"\n  ]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        144,
        480
      ],
      "id": "a956237c-dfef-4a5d-a453-7dd9a000922d",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.assigned_agents[0]",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        352,
        352
      ],
      "id": "d510f569-7480-41f1-9748-556a621d9f87",
      "name": "Split Out"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8012481d-0f96-45f1-871b-c3852b0fa72d",
                    "leftValue": "={{ $json['output.assigned_agents[0]'] }}",
                    "rightValue": "Weather Agent",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "dd1e77b1-59ff-4962-9670-69ee6adeb844",
                    "leftValue": "={{ $json['output.assigned_agents[0]'] }}",
                    "rightValue": "Forex Agent",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c07c0a42-9f89-4d75-aac8-571bc65bfba2",
                    "leftValue": "={{ $json['output.assigned_agents[0]'] }}",
                    "rightValue": "Google Calendar Agent",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c777da7f-5797-4385-a646-b0b03cc0cd12",
                    "leftValue": "={{ $json['output.assigned_agents[0]'] }}",
                    "rightValue": "Secretary Agent",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        576,
        320
      ],
      "id": "796dc2be-1594-4e04-9236-376e8716b239",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=“Call this agent for questions related to weather and provide the answer & use this Weather Forecast Agent tool to give the answer and input is {{ $('When chat message received').item.json.chatInput }}\" ",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        992,
        48
      ],
      "id": "641ec8fe-066c-4aba-a2a7-865290eea8d7",
      "name": "Weather Forecast Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        928,
        272
      ],
      "id": "b5b95b71-7574-4482-95eb-9ba6c3f9f134",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "AlFvLRwHpoCNKnUR",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1056,
        272
      ],
      "id": "278463df-09aa-4c8c-8e91-0a36c2b0392f",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "cityName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('City', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.openWeatherMapTool",
      "typeVersion": 1,
      "position": [
        1184,
        272
      ],
      "id": "c27c13cf-1de9-445a-825f-6b8e5f47487b",
      "name": "OpenWeatherMap",
      "credentials": {
        "openWeatherMapApi": {
          "id": "IV11I6wjyoIDWdfd",
          "name": "OpenWeatherMap account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=“For Forex Related General Queries: \nYou are a Forex Assistant. When a user asks about currency exchange, retrieve the latest \nforex rates (GBP, USD, EUR, JPY, etc.), explain briefly, and provide the answer in a \nstructured format: [Currency Pair] – [Rate] – [Date/Time]. If unavailable, respond with \nthe closest recent information. \nFor Real-time Conversion: \n\"Fetch the latest forex rate for the requested currency pair (e.g., USD/INR, GBP/JPY) \nand provide both the current rate and today’s percentage change.\" \nFor Market Insight: \n\"Summarize the current forex market trends for the requested currency pair, including \ntoday’s rate, volatility, and any significant news if available.\" \nFor Simple Forex Related Queries: \n\"Give the latest exchange rate for the user’s requested currency pair in plain text format \n(e.g., 1 USD = 83.2 INR as of [time]). \nuse this Forex Agent tool to give the answer and input is \n {{ $('When chat message received').item.json.chatInput }}\"",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        992,
        -352
      ],
      "id": "57512c20-c64c-49b1-8d85-fe662bad2162",
      "name": "Forex Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        928,
        -128
      ],
      "id": "18ec3fa2-6fba-4bde-a392-3266125d306a",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "AlFvLRwHpoCNKnUR",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1056,
        -128
      ],
      "id": "6ead8cba-cef9-4d8a-b62b-18d106161de5",
      "name": "Simple Memory2"
    },
    {
      "parameters": {
        "url": "https://v6.exchangerate-api.com/v6/feab7c9a7690793c45efe5e9/latest/USD",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1184,
        -128
      ],
      "id": "bdbebd7b-70b0-4096-8706-a977854af91a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=“Call this agent for questions related to Google Calendar Events. \nThe current date & time in IST is {{ $now }}. \nRetrieve, create, postpone, or delete Google Calendar events based on the user's request.  \nInclude date, time, title, and any relevant details. \nUser query: \n{{ $('When chat message received').item.json.chatInput }}”",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        992,
        960
      ],
      "id": "2e64612b-6ede-453e-bf84-6bece2a4ad91",
      "name": "Google Calendar Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        800,
        1184
      ],
      "id": "f182d227-68aa-4ad9-8b29-dc0058b627d0",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "AlFvLRwHpoCNKnUR",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        928,
        1184
      ],
      "id": "f72903df-963a-443d-95fd-b2181a58efde",
      "name": "Simple Memory3"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "rishisaxena300@gmail.com",
          "mode": "id"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1056,
        1184
      ],
      "id": "4310c4cf-3ec4-42ee-bfbf-efdad22d298f",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Q6JdnrozNDgIatpT",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "rishisaxena300@gmail.com",
          "mode": "id"
        },
        "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1184,
        1184
      ],
      "id": "c16f419a-9478-400d-8013-a71e4159dd6a",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Q6JdnrozNDgIatpT",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "rishisaxena300@gmail.com",
          "mode": "id"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1312,
        1184
      ],
      "id": "0dc67b5a-fbff-4377-b359-a559f7d07d22",
      "name": "Delete an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Q6JdnrozNDgIatpT",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Answer the user's query or provide a reminder/note. \nQuery: {{ $('When chat message received').item.json.chatInput }} ",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        992,
        448
      ],
      "id": "7ca69101-d527-463d-be95-b277e7122bc3",
      "name": "Secretary Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        992,
        672
      ],
      "id": "4d0ed953-2419-453b-a37c-8e5663ef0260",
      "name": "OpenAI Chat Model5",
      "credentials": {
        "openAiApi": {
          "id": "AlFvLRwHpoCNKnUR",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1120,
        672
      ],
      "id": "530c1a7f-e47f-4cb6-a12a-fc1144ab5918",
      "name": "Simple Memory4"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1520,
        176
      ],
      "id": "5c828414-9896-4ffe-a602-ae5f2e2e29d4",
      "name": "Merge"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1824,
        432
      ],
      "id": "239770b4-5f93-4687-9613-6073b1d45161",
      "name": "OpenAI Chat Model6",
      "credentials": {
        "openAiApi": {
          "id": "AlFvLRwHpoCNKnUR",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=This is the user's question: \n{{ $items(\"When chat message received\")[0].json.chatInput }} \nThese are the answers from the agents:  \n {{ $json.output }}\nSummarize the outputs from the agents to answer the user's question.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1744,
        208
      ],
      "id": "ab1d0bb3-9fb4-462d-8907-59259807337f",
      "name": "Summary Agent"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Gatekeeper Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Gatekeeper Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Gatekeeper Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Gatekeeper Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Manager Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Manager Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Manager Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Manager Agent": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Weather Forecast Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Forex Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Calendar Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Secretary Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Weather Forecast Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "Weather Forecast Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenWeatherMap": {
      "ai_tool": [
        [
          {
            "node": "Weather Forecast Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Forex Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "node": "Forex Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "Forex Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Google Calendar Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory3": {
      "ai_memory": [
        [
          {
            "node": "Google Calendar Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Google Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Google Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Google Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Secretary Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory4": {
      "ai_memory": [
        [
          {
            "node": "Secretary Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Forex Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weather Forecast Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Secretary Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Google Calendar Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Summary Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "Summary Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "ef1c37a9-1eda-4200-b1ee-99e8ef20bbcb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a5d5ee78ac2650e9207e0fa0d1e156879a47ed550fade06e3cdc7cc9d313484d"
  },
  "id": "SLzAx6tW484mI7avXboWN",
  "tags": []
}