No-Code RAG Automation Pipeline.json
{
  "name": "No-Code RAG Automation Pipeline",
  "nodes": [
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "my-product-files",
          "mode": "list",
          "cachedResultName": "my-product-files"
        },
        "options": {}
      },
      "id": "24eff0aa-3460-47f0-90ca-548387dc391f",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        320,
        224
      ],
      "typeVersion": 1,
      "credentials": {
        "pineconeApi": {
          "id": "K7nV3YsSz4wXzNrO",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "binaryMode": "specificField",
        "options": {}
      },
      "id": "9b29c2dc-149a-4b8a-818d-fa64a31bdedb",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        464,
        448
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkSize": 400,
        "chunkOverlap": 50,
        "options": {}
      },
      "id": "4e2f0a0e-4e33-4f7e-83c9-826a6ea99664",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        416,
        624
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are a helpful Product Support Assistant designed to answer customer queries based \non XSound Pro Headphones Product documentation. \nRetrieve relevant information from the provided internal document and provide a concise, \naccurate, and informative answer to the customer's query. \nUse the tool called \"company_documents_tool\" to retrieve any information from the \nproduct's document. \nIf the answer cannot be found in the provided document, respond with \"I couldn’t find this \ninformation in the product documentation. Please reach out to \nxsound.support@abccompany.com\" \nDo not invent features or details outside the knowledge base.   \nIf asked about unrelated topics, respond: \"I can only answer questions about XSound Pro \nHeadphones."
        }
      },
      "id": "9eb28c84-4622-442a-b779-8133d3e85e2a",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1136,
        112
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "name": "company_documents_tool",
        "description": "Retrieve information from any company documents",
        "topK": 3
      },
      "id": "92dc2ad8-da11-4aff-8e92-49931a405af0",
      "name": "Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "position": [
        1424,
        352
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "my-product-files",
          "mode": "list",
          "cachedResultName": "my-product-files"
        },
        "options": {}
      },
      "id": "fd6047d4-a67d-4d6d-9722-5dc25d9c7bb0",
      "name": "Pinecone Vector Store (Retrieval)",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        1280,
        512
      ],
      "typeVersion": 1,
      "credentials": {
        "pineconeApi": {
          "id": "K7nV3YsSz4wXzNrO",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {
          "fileName": "={{ $json.name }}"
        }
      },
      "id": "15d33288-a4d9-4347-925b-a97b5931d721",
      "name": "Download File From Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        96,
        224
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "9bXWELmzii0ZxB7K",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Chat with Product document",
        "height": 80,
        "width": 336
      },
      "id": "d7f1eaa3-d34d-4fc7-8683-e7f861512f56",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        992,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1bu91YP4pVK3PfCN9GKqEwQ73C9yE4Bho",
          "mode": "list",
          "cachedResultName": "DOCS_FOR_RAG",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1bu91YP4pVK3PfCN9GKqEwQ73C9yE4Bho"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "51b95d31-0625-4552-aa64-bfafb24e2fa5",
      "name": "Google Drive File Updated",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        -160,
        352
      ],
      "typeVersion": 1,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "9bXWELmzii0ZxB7K",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1bu91YP4pVK3PfCN9GKqEwQ73C9yE4Bho",
          "mode": "list",
          "cachedResultName": "DOCS_FOR_RAG",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1bu91YP4pVK3PfCN9GKqEwQ73C9yE4Bho"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "id": "1b6c66ab-c8b7-4fb1-9aea-976c683b76ff",
      "name": "Google Drive File Created",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        -160,
        128
      ],
      "typeVersion": 1,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "9bXWELmzii0ZxB7K",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "id": "fcbd6af3-5f21-4477-a8e0-16d461c826b6",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        1168,
        336
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "content": "## Add docuemnts to vector store when updating or creating new documents in Google Drive",
        "height": 80,
        "width": 576
      },
      "id": "1479c870-5136-4740-95ad-063d27b17a60",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        240,
        432
      ],
      "id": "d3c7843b-3dbd-45d4-8bf5-5c2a1282b1ed",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "AlFvLRwHpoCNKnUR",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1008,
        336
      ],
      "id": "1ac40118-4702-449f-b0d0-3d9f39886333",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "AlFvLRwHpoCNKnUR",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1600,
        560
      ],
      "id": "515a4bf5-886c-4de4-9745-b76d283eeff2",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "AlFvLRwHpoCNKnUR",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1216,
        656
      ],
      "id": "7bf0a881-204f-46c0-856a-1df2bfed1f20",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "AlFvLRwHpoCNKnUR",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        832,
        112
      ],
      "id": "dca0338f-6eba-45c7-a4a8-670ab520f462",
      "name": "Telegram Trigger",
      "webhookId": "5f7caaca-5e66-4f8a-975e-f559b42d934e",
      "credentials": {
        "telegramApi": {
          "id": "8ms3NT9krzwsm4e3",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $('AI Agent').item.json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1696,
        112
      ],
      "id": "1c7de1dc-6d3d-4a2f-8325-3ee902948a96",
      "name": "Send a text message",
      "webhookId": "b29cc10c-87be-42c1-ab46-8adca04f6347",
      "credentials": {
        "telegramApi": {
          "id": "8ms3NT9krzwsm4e3",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1g5yXOsgSaWawIbmd_uFfFj2HLIggVO-8vBorPH5NBbU",
          "mode": "list",
          "cachedResultName": "Product Query Responses1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1g5yXOsgSaWawIbmd_uFfFj2HLIggVO-8vBorPH5NBbU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "RSTEST",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1g5yXOsgSaWawIbmd_uFfFj2HLIggVO-8vBorPH5NBbU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Query": "={{ $('Telegram Trigger').item.json.message.text }}",
            "Response": "={{ $json.output }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Query",
              "displayName": "Query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Response",
              "displayName": "Response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1488,
        112
      ],
      "id": "51eac692-709d-4922-b455-284d0bb78b12",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fcBdPb365Mec1iil",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive File Created": {
      "main": [
        [
          {
            "node": "Download File From Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive File Updated": {
      "main": [
        [
          {
            "node": "Download File From Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File From Google Drive": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store (Retrieval)": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store (Retrieval)",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9d409838-9dd9-45a1-bd76-bbda78ba66d2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a5d5ee78ac2650e9207e0fa0d1e156879a47ed550fade06e3cdc7cc9d313484d"
  },
  "id": "yp7owvqkSNDs0tld",
  "tags": []
}